html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
a {
  color: #ff642e;
}
#infoDiv {
  padding: 10px;
}
.esri-popup__footer .esri-popup__button {
  font-size: 16px;
  font-weight: 460;
}

